
.bg-skew {
  background: linear-gradient(45deg, #054faa 0%,#0f80ea 100%);
  -webkit-transform: skew(0deg, 4deg);
  transform: skew(0deg, 4deg);
  padding: 460px 0;
  margin-top: -190px;
}
.bg-skew-body1{
  background: #F6FAFD;
  position: absolute;
  padding: 300px 0;
  border-radius: 80px;
  margin: 10px 0px;
  width: 750px;
  left: -150px;
  -webkit-transform: skew(-8deg, 4deg);
  transform: skew(-10deg, 4deg);
}

.bg-skew-body1 img{
  position: absolute;
  top: 85px;
  right:450px;
  width: 75px;
  -webkit-transform: skew(8deg, -4deg);
  transform: skew(10deg, -4deg);
}

.bg-skew-body2{
  background: #F6FAFD;
  position: absolute;
  top: 1400px;
  right: -150px;
  padding: 300px 0;
  border-radius: 80px;
  margin: 10px 0px;
  width: 750px;
  -webkit-transform: skew(-4deg, 4deg);
  transform: skew(-10deg, 4deg);
}

.bg-skew-body2 img{
  position: absolute;
  top: 120px;
  right:600px;
  width: 75px;
  -webkit-transform: skew(8deg, -4deg);
  transform: skew(10deg, -4deg);
}

.bg-skew-body3{
  background: #F6FAFD;
  position: absolute;
  top: 2100px;
  padding: 300px 0;
  border-radius: 80px;
  margin: 10px 0px;
  width: 750px;
  left: -150px;
  -webkit-transform: skew(-8deg, 4deg);
  transform: skew(-10deg, 4deg);
}

.bg-skew-body3 img{
  position: absolute;
  top: 85px;
  right:450px;
  width: 75px;
  -webkit-transform: skew(8deg, -4deg);
  transform: skew(10deg, -4deg);
}

.bg-unskew {
  -webkit-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
}

.aimIll{
  width: 700px;
  position: absolute;
  top: 625px;
  left: 730px;
  z-index: -1;
}

.issueIll{
  width: 650px;
  position: absolute;
  top: 1400px;
  right: 630px;
  z-index: -1;
}

.methodIll{
  width: 650px;
  position: absolute;
  top: 1950px;
  left: 730px;
}

#HeaderText{
  position:absolute;
  color: white;
  margin-left: 40;

}

* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
}

body {
      width: 100%;
      height: 100vh;
      background: #e1ebf5;
      display: table;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.bg-unskew{
  -webkit-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
}

.content h1 {
      color: #fff;
      font-family: "Poppins";
      font-weight: 200;
      font-size: 40px;
}

nav {
      width: 100%;
      height: 70px;
      position: absolute;
      top: 188px;
      left: 0px;
      z-index: 1;
      -webkit-transform: skew(0deg, -4deg);
      transform: skew(0deg, -4deg);
}

nav #brand {
      float: left;
      position: relative;
      margin-left: 84px;
}

nav #brand img {
    max-width: 150px;
    margin: 10px 0px;
}

nav #menu {
      float: left;
      left: 50%;
      position: sticky;
}

nav #menu li {
      display: inline-block;
      margin: 20px 17px;
      cursor: pointer;
      line-height: 30px;
      position: relative;
      border: solid 1px none;
      border-radius: 30px;
      padding: 5px 20px;
      transition: all 0.3s ease-out;
}

nav #menu li a {
      text-decoration: none;
      color: #F5F5F5;
      font-family: "Poppins";
      font-weight: 200;
}
nav #menu li:hover {
      margin: 0px 19px;

      font-family: "Poppins";
      font-weight: 200;

      border: solid 1px #F5F5F5;
      border-radius: 30px;
      padding: 5px 17px;
      transition: all 0.3s ease-out;

}

#toggle {
      position: absolute;
      right: 20px;
      top: 14px;
      z-index: 999;
      width: 40px;
      height: 40px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle .span {
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      margin: 5px auto;
}


#toggle.on #one {
      transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
      opacity: 0;
}

#toggle.on #three {
      transform: rotate(-45deg) translateX(8px) translateY(-10px);
}


#resize {
      z-index: 1;
      top: 258px;
      position: absolute;
      background: #000;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
      display: table;
      -webkit-transform: skew(0deg, -4deg);
      transform: skew(0deg, -4deg);
}

#resize #menu {
      height: 90px;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 20px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top:20px;
}

#resize #menu li a {
      color: #fff;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}


@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
      }

      nav #brand {
            margin-left: 18px;
      }

      #menu a {
            font-family: "Poppins";
            font-weight: 200;
            font-size: 20px;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}
